<div class="h-100">
  <div class="container m-0 w-100 h-100">
    <div class="row h-100">
      <div class="col-6 p-0">
        {{> authLogoFiller}}
      </div>
      <div class="col">
        <div id="form" class="w-100 h-100 d-flex justify-content-center align-items-center">
          <div class="auth-form w-75">
            <h2>Log In</h2>
            <br />
            <form action="/login" method="POST">
              <input type="email" name="email" placeholder="Email" />
              <br /><br />
              <input type="password" name="password" placeholder="Password" id="signup-password" />
              <br /><br />
              <button type="submit" class="sign-up-btn">Log In</button>
              <div class="w-75 d-flex justify-content-center mt-2">
                <a href="/signup" class="w-75 link-text">Don't have an account? Sign Up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if msg}}
    <p class="error">{{msg}}</p>
  {{/if}}
</div>