<nav class="navbar fixed-top navbar-light bg-light px-4 border-bottom">
    <div class="d-flex container-fluid justify-content-between">
        <a class="navbar-brand d-flex justify-content-start align-items-center me-0" href="#">
            <img src="/images/main_logo_notext.png" alt="" width="50" class="d-inline-block align-text-top">
        </a>
    <div class="nav nav-pills">
        {{#if currentUser}}
        <li class="nav-item dropdown">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle menu-dropdown-edit" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{currentUser.firstName}} {{currentUser.lastName}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/app">Dashboard</a></li>
                    <li><a class="dropdown-item" href="/app/myprofile">My Profile</a></li>
                    <li><a class="dropdown-item" href="/app/myprofile/edit">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="/">Homepage</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                </ul>
            </div>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/login">
                <button type="button" class="btn btn-primary sign-in-btn">Sign In →</button>
            </a>
        </li>
        {{/if}}
    </div>
    </div>
    </nav>