<nav class="d-flex flex-column flex-shrink-0 p-3 sidebar-nav align-content-start justify-content-between shadow-box">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" href="#">
        <img src="/images/main_logo_notext.png" alt="" width="50" class="d-inline-block align-text-top me-1">
        <span class="brand-title-white">Buggr</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/app/customers" class="nav-link text-decoration-none text-white">Customers</a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/app/opportunities" class="nav-link text-decoration-none text-white">Opportunities</a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/app/projects" class="nav-link text-decoration-none text-white">Projects</a>
        </li>
    </ul>
    <div>
        <p class="text-white-50 ts-4">{{currentOrg.name}}</p>
        <hr>
        <div class="dropdown">
            <a href="" class="d-flex align-items-center link-dark text-decoration-none text-white dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{currentUser.firstName}} {{currentUser.lastName}}
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/app/myprofile">My Profile</a></li>
                <li><a class="dropdown-item" href="/app/myprofile/edit">Edit Profile</a></li>
                <li><a class="dropdown-item" href="/">Buggr.com</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>