<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Buggr</a>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
        {{#if currentUser}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{currentUser.firstName}}</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/app/myprofile">My Profile</a></li>
                <li><a class="dropdown-item" href="/app">Dashboard</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/login">Login | Signup</a>
        </li>
        {{/if}}

    </ul>
  </div>
</nav>