/* MAIN COLORS 
  Eton Blue: #7DCCAB
  Tan: #D8C39B
  Dark Blue Gray: #645e9d
  Russian Violet: 392B58
  Dark Purple: 2D320
*/

/* My code */
html {
  height: 100%;
}
body {
  height: 100%;
}

h1 {
  color: 15px;
}

.nav-bar-shadow {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.brand-title-purple {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  color: #392B58;
}

.brand-title-white {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  color: white;
}

.auth-form input {
  width: 75%;
}

.sign-up-btn {
  width: 75%;
  background-color: #392B58 !important; 
  border-color: #392B58 !important;
  color: white;
}

.link-text {
  font-size: 9px !important;
  text-align: center;
}

.nav-links-edit a {
  text-decoration: none;
  color: #392B58;
}

.sidebar-nav {
  width: 200px !important;
  height: 100%;
  background-color: #5c4d7c;
}

.home-page{
  padding-top: 80px;
}

.sign-in-btn {
  background-color: #392B58 !important; 
  border-color: #392B58 !important;
  color: white;
}

.sign-in-btn:hover {
  background-color: #5c4d7c !important; 
  border-color: #5c4d7c !important;
}


.menu-dropdown-edit {
  background-color: #392B58 !important; 
  border-color: #392B58 !important;
  color: white !important;
}
.menu-dropdown-edit a {
  color: #392B58 !important;
}

.org-selector-container {
  height: 60px;
  /* background-color: #7DCCAB; */
  color: #392B58;
}

.logo-filler {
  background-color: #5c4d7c;
  color: #D8C39B !important;
}