<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
          <h1>Add New Customer</h1>
          <div id="form">
            <form action="/app/newcustomer" method="POST">
          
              <label> Name:  
                <input type="text" name="name" placeholder="Buggr" />
                *
              </label>
              <br />
              <label> Contact First Name: 
                <input type="text" name="contactFirstName" placeholder="Joe" />
                *
              </label>
              <br />
              <label> Contact Last Number: 
                <input type="text" name="contactLastName" placeholder="Appleseed" />
                *
              </label>
              <br />
              <label> Contact Email Address: 
                <input type="email" name="contactEmailAddress" placeholder="joeappleseed@gmail.com" />
                *
              </label>
              <br />
              <label> Contact Phone Number: 
                <input type="text" name="contactPhoneNumber" placeholder="123-456-7891" />
                *
              </label>
              <br />
              <button type="submit">Create Customer</button>
            </form>
            <br>
            {{#if msg}}
                <p class="error">{{msg}}</p>
            {{/if}}
          </div>
        </div>
    </div>
</div>