<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
          <h1>Create Opportunity</h1>
          <div id="form">
            <form action="/app/createopp" method="POST">
          
              <label> Title 
                <input type="text" name="title" placeholder="Project Title" />
                *
              </label>
              <br />
              <label> Customer 
                <select name="customerId" id="">
                  {{#each customers}}
                    <option value="{{_id}}">{{name}}</option>
                  {{/each}}
                </select>
                *
              </label>
              <br />
              <label> Opened Date
                <input type="date" name="openedDate" placeholder="" />
                *
              </label>
              <br />
              <label> Close Date
                <input type="date" name="closeDate" placeholder="" />
                *
              </label>
              <br />
              <label> Dollar Value
                <input type="text" name="dollarValue" placeholder="0" />
                *
              </label>
              <br />
              <button type="submit">Create Opportunity</button>
            </form>
            <br>
            {{#if msg}}
                <p class="error">{{msg}}</p>
            {{/if}}
          </div>
        </div>
    </div>
</div>
