<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
          <h1>Create Project</h1>
          <hr>
          <div id="form">
            <form action="/app/createproject" method="POST">
                <div class="row mb-2 me-1">
                    <div class="col-3">
                        <label for="name">Title *</label>
                    </div>
                    <div class="col">
                        <input class="w-50" type="text" name="title" placeholder="Project Title" />
                    </div>
                </div>
                <div class="row mb-2 me-1">
                    <div class="col-3">
                        <label for="name">Customer *</label>
                    </div>
                    <div class="col">
                        <select class="w-50" name="customerId" id="">
                          {{#each customers}}
                            <option value="{{_id}}">{{name}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-2 me-1">
                    <div class="col-3">
                        <label for="name">Start Date *</label>
                    </div>
                    <div class="col">
                        <input class="w-50" type="date" name="startDate" placeholder="" />
                    </div>
                </div>
                <div class="row mb-2 me-1">
                    <div class="col-3">
                        <label for="name">Goal Date *</label>
                    </div>
                    <div class="col">
                        <input class="w-50" type="date" name="goalDate" placeholder="" />
                    </div>
                </div>
                <div class="row mb-2 me-1">
                    <div class="col-3">
                        <label for="name">Dollar Value *</label>
                    </div>
                    <div class="col">
                        <input class="w-50" type="text" name="dollarValue" placeholder="" />
                    </div>
                </div>
                <br />
              <button type="submit">Create Project</button>
          </form>
          <br>
          {{#if msg}}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
              {{/if}}
          </div>
        </div>
    </div>
</div>