<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
            <h2>{{title}}</h2>
            <span><a class="fs-6" href="/app/projects/edit/{{_id}}">Edit Project</a></span>
            <hr>
        </div>
    </div>
</div>
